{{- $t := index .themes .theme -}}
/* {{ $t.name }} theme for waybar - managed by chezmoi */

#waybar {
  font-family:
    "JetBrains Mono",
    Hack,
    Cantarell,
    Noto Sans;
  font-size: 16px;
}

#window {
  padding: 0 10px;
}

window#waybar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  color: {{ $t.foreground }};
  background-color: {{ $t.background }}e6;
}

#workspaces {
  margin: 0 5px;
  margin-left: 5px;
  border-radius: 5px;
}

#workspaces button {
  padding: 0 8px;
  color: {{ $t.foreground_alt }};
  border: 3px solid transparent;
  border-radius: 10px;
  min-width: 33px;
}

#workspaces button.visible {
  color: {{ $t.foreground }};
}

#workspaces button.focused {
  border-top: 3px solid {{ $t.primary }};
  border-bottom: 3px solid {{ $t.primary }};
}

#workspaces button.urgent {
  background-color: {{ $t.orange }};
  color: {{ $t.background }};
}

#workspaces button:hover {
  box-shadow: inherit;
  border-color: {{ $t.magenta }};
  color: {{ $t.magenta }};
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
  color: {{ $t.primary }};
}
#workspaces button.focused:hover {
  color: {{ $t.magenta }};
}

#pulseaudio {
  /* font-size: 26px; */
}

#custom-recorder {
  font-size: 18px;
  margin: 2px 7px 0px 7px;
  color: {{ $t.red }};
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-media {
  margin: 0px 0px 0px 10px;
  padding: 0 5px;
}

#clock {
  margin: 4px 10px 4px 10px;
  padding: 2px 15px;
  min-width: 140px;
  color: {{ $t.magenta }};
  border-radius: 5;
  font-family: Roboto;
  background: {{ $t.background }};
}

#battery.warning {
  color: {{ $t.yellow }};
}

#battery.critical {
  color: {{ $t.red }};
}

#battery.charging {
  color: {{ $t.foreground }};
}

#custom-storage.warning {
  color: {{ $t.yellow }};
}

#custom-storage.critical {
  color: {{ $t.red }};
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
