/* Tokyo Night theme for wofi */

* {
    font-family: JetBrains Mono;
}

window {
    margin: 0px;
    border: 2px solid #7aa2f7;
    border-radius: 8px;
    background-color: #1a1b26;
    font-size: 15px;
}

#input {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #16161e;
    color: #c0caf5;
    font-family: JetBrains Mono;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    padding: 2rem;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
    font-family: JetBrains Mono;
}

#entry {
    padding: 8px;
    border-radius: 4px;
    background-color: transparent;
    font-family: JetBrains Mono;
}

#entry:selected {
    background-color: #7aa2f7;
}

#entry:selected #text {
    color: #1a1b26;
    font-weight: bold;
}

#entry:hover {
    background-color: #414868;
}
